@model List<ChamadoViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Listagem de Chamados</h2>

<a href="/chamado/create" class="btn btn-success">Novo Chamado</a>
<br />

<table class="table table-responsive table-striped table-bordered">
    <tr>
        <th>Ações</th>
        <th>ID</th>
        <th>Data de Abertura</th>
        <th>Descrição do Problema</th>
        <th>Situação</th>
    </tr>
    @foreach (var chamado in Model)
    {
        <tr>
            <td>
                <a href="/chamado/Edit?id=@chamado.Id" class="btn btn-info">Editar</a>
                <a href="javascript:apagarChamado(@chamado.Id)" class="btn btn-danger">Apagar</a>
            </td>
            <td>@chamado.Id</td>
            <td>@chamado.DataAbertura.ToShortDateString()</td>
            <td>@chamado.DescricaoProblema</td>
            <td>
                @* Converte o número da situação [1] ou [2] para um texto amigável *@
                @(chamado.Situacao == 1 ? "Pendente" : "Atendido")
            </td>
        </tr>
    }
</table>

<script>
    function apagarChamado(id) {
        if (confirm('Confirma a exclusão do chamado?'))
            location.href = 'chamado/Delete?id=' + id;
    }
</script>

